h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}
img{
    .plate{
        height:200px;
    }
    height: 100px
}

.keyboard{
    height:200px;
    width: 300ox;
}